<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="章鱼笔记"/>
    <meta name="description" content="一个学习编程，分享生活的网站，欢迎志同道合的朋友，光临我的网站"/>
    <meta name="baidu-site-verification" content="W6jNZMCChd"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>章鱼社区 | 一个学习编程，提问,分享的小客栈</title>
    <link rel="stylesheet" th:href="@{/css/iconfont2.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
</head>
<style>
    .login_btn{cursor: pointer;}
</style>

<body>
<!--引入导航条-->
<div th:insert="~{navbar :: navbar}"></div>

<div class="modal fade login_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">欢迎你登入章鱼社区~</h4>
            </div>
            <div class="modal-body text-center">
                <p>使用以下方式登入：</p>
               <a th:if="${session.user==null}" class="btn btn-primary" th:href="${#request.getServletContext().getAttribute('loginUrl')}">GitHub登入</a>
               <a class="btn btn-primary" th:href="${#request.getServletContext().getAttribute('baidu_loginUrl')}">百度账号登入</a>
               <a class="btn btn-primary" href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101794832&redirect_uri=http://www.zykcoderman.xyz/qqcallback&scope=scope&display=display">QQ账号登入</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消登入</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--返回顶部的位置-->
<div class="container">
    <ul class="list " id="types">
        <li class="active"><a id="category-0" th:href="@{/category=0}">全部</a></li>
        <li>
            <a id="1" th:href="@{/?category=1}">提问</a>
        </li>
        <li>
            <a id="2" th:href="@{/?category=2}">分享</a>
        </li>
        <li>
            <a id="3" th:href="@{/?category=3}">讨论</a>
        </li>
        <li>
            <a id="4" th:href="@{/?category=4}">建议</a>
        </li>
        <li>
            <a id="5" th:href="@{/?category=5}">BUG</a>
        </li>
    </ul>
</div>
<!--内容部分-->
<div class="container main">
    <div class="col-lg-9 col-md-12 col-sm-12 lefwrapper">
        <div>
            <h4><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;发现</h4>
        </div>
        <!--分类导航-->
        <ul class="nav nav-tabs " id="myTabs">
            <li class="active"><a id="ALL">全部</a></li>
            <li>
                <a id="WEEK_HOT">周热门</a>
            </li>
            <li>
                <a id="MONTH_HOT">月热门</a>
            </li>
            <li>
                <a id="LIKE_HOT">点赞最多</a>
            </li>
            <li>
                <a id="COMMENT_HOT">评论最多</a>
            </li>
            <li>
                <a id="WAIT_COMMENT">待回复</a>
            </li>

        </ul>
        <!--问题列表-->
        <div id="question_wrapper">
        </div>
        <div id="no_quetions" class="text-center" style="margin-top: 50px; display: none;">暂无更多</div>
        <!--分页导航-->
        <span class="page_info-area" style="font-size: 12px;"></span>
        <nav aria-label="Page navigation" style="font-size: 12px;">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
    <!--右边内容--->
    <div class="col-lg-3 col-md-12 col-sm-12 rightwrapper">
        <div class="site_hoster">
            <div class="host_name">联系我:</div>
            <a class="iconfont icon-weibo weibo"
               href="https://weibo.com/5837903769/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1&sudaref=zykzhangyukang.github.io&display=0&retcode=6102"
               title="他的微博"></a>
            <a class="iconfont icon-weixin1 weixin" href="#" title="他的微信"></a>
            <a class="iconfont icon-yuanchuangrenzheng csdn" href="https://blog.csdn.net/qq_43257103" title="他的博客"></a>
            <a class="iconfont icon-github github" href="https://github.com/zykzhangyukang?tab=repositories"
               title="他的Github"></a>
        </div>
        <!--轮播图广告-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item  active">
                    <a href="http://www.ndgy.cn/home" target="_blank">
                        <img th:src="@{/images/1567736191360_www_banner1.jpg}" alt="...">
                        <div class="carousel-caption">
                        </div>
                    </a>
                </div>
                <div class="item">
                    <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2019/06/4681561704146_.pic_hd.jpg"
                         alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2019/04/371554791054_.pic_.png" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2018/10/%E4%BA%91%E6%9C%8D%E5%8A%A1%E5%99%A8%E5%AD%A6%E7%94%9F%E4%BC%98%E6%83%A0%E5%A5%97%E9%A4%909%E5%85%83%E6%9C%88.jpg"
                         alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2019/07/WX20190726-073821-e1564097980650.png"
                         alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2019/04/601554968669_.pic_hd.jpg"
                         alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>

        <!--热门标签-->
        <div class="hot_tag_wrapper">
            <br>
            <small><span class="iconfont icon-remen" style="color:#f40;font-size: 20px;"></span>最热标签</small>
            <div style="padding: 5px 0px;" class="tag_wrapper col-lg-12 col-md-12 col-sm-12">
            </div>
        </div>
        <!--热门推荐-->
        <lable><span style="font-size: 20px;color: #f40;margin-bottom: 10px;display: inline-block;"
                     class="iconfont icon-tuijian"></span>热门推荐
        </lable>
        <ul class="list-group rightlist" id="recommend_wrapper" style="margin: 0px;padding: 0px;">
        </ul>
        <!--最近更新-->
        <lable><span style="margin-top: 10px;font-size: 20px;color: #f4d03f;margin-bottom: 10px;display: inline-block;"
                     class="iconfont icon-zuijingengxin1"></span>最近更新
        </lable>
        <ul class="list-group rightlist" id="newquestions_wrapper" style="margin: 0px;padding: 0px;">
        </ul>
        <hr>
        <!--最新用户-->
        <lable><span style="font-size: 16px;margin-bottom: 10px;display: inline-block;"
                     class="iconfont icon-xin-yonghuguanli"></span>活跃用户
        </lable>
        <ul id="userlist" class="list-group">
        </ul>


        <!--侧边栏广告-->
        <div class="side_ad_wrapper" th:if="${#session.getAttribute('SIDE').size()>0}">
            <small><span
                    style="margin-top: 2px;font-size: 20px;color: #f4d03f;margin-bottom: 10px;display: inline-block;"
                    class="iconfont icon-guanggao3"></span>广告位出租
            </small>
            <a target="_blank" th:each="ad:${#session.getAttribute('SIDE')}" th:href="${ad.url}">
                <img width="100%;" th:src="${ad.image}"></a>
        </div>
        <hr>
        <!--站长简介-->
    </div>

</div>
<!--页尾-->
<div th:insert="~{footer :: footer}"></div>
<form id="search_form">
    <input type="hidden" name="tag" id="tag_param" th:value="${tag}">
    <input type="hidden" name="search" id="search_param" th:value="${search}">
    <input type="hidden" name="sortby" id="sortby_param" th:value="${sortby}">
    <input type="hidden" name="category" id="category_param" th:value="${category}">
</form>
</body>
<script src="webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/js/indexdata.js}"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script>
    $(function () {
        $('#myTabs a').click(function (e) {
            $("#sortby_param").attr("sortby", this.id);
            to_page(1);
            $(this).tab('show');
        });
        $("#types li a").click(function () {
            $("#tag_param").val("");
            $(".tagname").css({color: "#fff"})
            $("#category_param").val(this.id);
            to_page(1);
            $("#types li").removeClass("active");
            $($(this).parent()).addClass("active");
            return false;
        })
        $('.carousel').carousel({
            interval: 1900
        })

        //弹出登入框
        $('.login_btn').click(function () {
            $(".login_modal").modal("show");
            return false;
        })
    })
</script>
</html>

